.contactus_landing{
    display: block;
}

.contact_form{
    width: 100%;
    border-top: 1px solid rgb(56, 7, 75);
}

.cont_form_content{
    text-align: center;
    width: 100%;
}

.form_heading{
    @media screen and (min-width: 721px) {
        margin: 5vh  ;
        font-size: 1.125rem;
        font-weight: 400;
        line-height: 1.25;
        display: block;
    }
    @media screen and (max-width: 720px) {
        margin: 5vh  ;
        font-size: 1.125rem;
        font-weight: 400;
        line-height: 1.25;
        display: block;
    }
    
}

.problem_section{
    text-align: center;
    margin: 5vh 1vh;
    width: 90%;
}

.problem_heading{
    @media screen and (min-width: 721px) {
        margin: 5vh  ;
        font-size: 1.125rem;
        font-weight: 400;
        line-height: 1.25;
        display: block;
    }
    @media screen and (max-width: 720px) {
        padding-top: 5vh ;
        padding-bottom: 5vh;
        font-size: 1.125rem;
        font-weight: 400;
        line-height: 1.25;
        display: block;
    }
}

a :hover{
    color: blueviolet;
}