.phase1{
    height: 100vh;
    @media screen and (min-width: 721px) {
        margin: 10vh 0vh 0vh 20vh;
    }
}

.text{
    @media (min-width: 721px) {
        height: 88vh;
        width: 100%;
    }
    @media (max-width: 720px) {
        text-allign: center;
        display: block;
        height: 30vh;
        width: 100%;
    }
}

.heading11{
    @media screen and (min-width: 721px) {
        display: block;
        font-size: 2rem;
        position: relative;
        height: 32vh;
        color: rgb(45, 17, 68);
        font-size: 4rem;
        font-weight: 750;
    }
    @media screen and (max-width: 720px) {
        position: relative;
        top:10%;
        display: block;
        font-size: 3rem;
        color: rgb(45, 17, 68);
        font-weight: 750;
    }
}

.searchbar{
    position: relative;
    top: 10%;
    display: block;
    height: 6vh;
}

.searchitem{
    height: 6vh;
    margin: 2vh 0vh 2vh 1vh; 
}



.buy_now_button{
    position: absolute;
    top:65%;
    left: 0%;
    color: white;
    background-color: purple;
    border: none;
    border-radius: 10px;
    margin-left: 20px;
    padding: 10px 40px;
    text-shadow: 1px 2px 20px #000000;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.4);
    background: rgb(140, 67, 158);
    font-size: larger;
}

.see_action_button{
    position: absolute;
    top: 65%;
    left: 30%;
    font-size: larger;
    padding: 9px 20px;
    background: none;
    border: 1px solid black;
    border-radius: 5px;
}

.icons{
    position: absolute;
    top: 80%;
    display: flex;
    text-align: center;
}

.icontext{
    font-size: 1.1rem;
    font-weight: 600;
    padding: 20px 25px 3px 5px;
}

.home_image_container{
    @media screen and (min-width: 721px) {
    }
    @media screen and (max-width: 720px) {
        display: block;
        text-align: center;
    }
}

.home_image{
    @media screen and (min-width: 721px) {
    }
    @media screen and (max-width: 720px) {
        display: block;
    }
    
}