.form{
    text-align: end;
}

.forminput{
    width: 50%;
    border: 1px solid grey;
    margin: 2vh 10vh 2vh 1vh;
}

.required{
    font-size: larger;
    font-weight: 400;
}

.required :after{
    content:" *";
    color: red;
}

.submit_button{
    @media screen and (min-width: 721px) {
        position: relative;
        left: 45%;
        padding: 5px 20px ;
        display: block;
        color: white;
        border-radius: 5px;
        border: 1px solid rgb(135, 9, 223);
        background-color: rgb(135, 9, 223);
    }
    @media screen and (max-width: 720px) {
        position: relative;
        left: 40%;
        padding: 5px 20px ;
        display: block;
        color: white;
        border-radius: 5px;
        border: 1px solid rgb(135, 9, 223);
        background-color: rgb(135, 9, 223);
    }
}

.submit_button :hover{
    background-color: rgb(63, 1, 107);
}